:root {
    --primary-bg-color: #182825;
    --text-color: #F7FFF7;
    --accent-color: #22AED1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu {
    height: 15vh;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    background-color:var(--primary-bg-color);
    color: var(--text-color);
}

.menu-title {
    font-size: 2rem;
}

.menu-title span {
    color: var(--accent-color);

}

.menu-sections {
    display: flex;
}

.menu-section-element {
    margin: 0.5rem 1rem;
    font-size: 1.5rem;
    list-style: none;
    text-transform: capitalize;
}

.menu-section-element a {
    text-decoration: none;
    color: var(--text-color);
}

.menu-section-element a:hover {
    text-decoration: underline;
    opacity: 0.75;
}

.about {
    height: 95vh;
    background-image: url("./assets/coding.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-container {
    height: 80%;
    width: 80%;
    background: rgba(24, 40, 37, 0.65);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
}
@media (max-width: 767px) {
    .about {
        height: 220vh;
    }
}
@media (min-width: 768px) and (max-width: 1023px) {
    .about {
        height: 130vh;
    }
}

.about-header {
    font-size: 3rem;
    padding: 1rem;
}

.about-text {
    padding: 3rem;
    font-size: 1.2rem;
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
}
.about-container button {
    box-shadow: 0 1px 0 0 #1c1b18;
    background: linear-gradient(to bottom, #eae0c2 5%, #ccc2a6 100%);
    border-radius: 20px;
    border: 2px solid #333029;
    display: inline-block;
    cursor: pointer;
    padding: 10px 53px;

    margin: 10px;
}
.about-container button a{
    color: var(--primary-bg-color);
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    text-shadow: 0 1px 0 #ffffff;
}

.about-container button:hover {
    background: linear-gradient(to bottom, #ccc2a6 5%, #eae0c2 100%);
}
.skills {
    padding: 4rem;
    background-color: var(--primary-bg-color);
    text-align: center;
}
.skills-container{
    display: flex;
    justify-content: space-around;
}
@media (max-width: 767px) {
    .skills-container {
        flex-direction: column;
    }
}
@media (min-width: 768px) and (max-width: 1023px) {
    .skills-container {
        flex-direction: column;
    }
}
.skills-box {
    height: 55vh;
    width: 25vw;
    padding: 3rem;
    border: 1px solid #6D8EA0;
    border-radius: 5%;
    box-shadow: 0 7px 20px 3px var(--text-color);
    text-align: center;
}
@media (max-width: 767px) {
    .skills-box {
        height: 60vh;
        width: 80vw;
        margin: 2rem 0;
    }
}
@media (min-width: 768px) and (max-width: 1023px) {
    .skills-box {
        height: 60vh;
        width: 80vw;
        padding: 1rem;
        margin: 1.5rem;
    }

}
.skills-title {
    color: var(--text-color);
    margin-bottom: 2rem;
    font-size: 2rem;
}
.skills h2{
    margin-bottom: 2rem;
}

.skills-element {
    font-size: 1.5rem;
    color: var(--text-color);
}
.certification{
    height: 75vh;
}
@media (max-width: 767px) {
    .certification {
        height: 280vh;
    }
}
.certification-title{
    text-align: center;
    font-size: 3rem;
    margin: 2rem 0;
}
.certification-container{
    display: flex;
    justify-content: space-around;
}
@media (max-width: 767px) {
    .certification-container {
        display: flex;
        align-items: center;
        flex-direction: column;
        height: 250vh;
    }
}
.certification-card {
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px;
}

.certificate-img {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.certificate-img:hover{
    transform: scale(1.2);
}


.projects{
    width:  100vw;
    height:  70vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
}
.project-card{
    width: 350px;
    height: 250px;
    border: 1px solid #ccc;
    border-radius: 8px;
    position: relative;
    display: flex;
    padding: 1rem;
    box-shadow: 0 7px 10px rgba(0, 0, 0, 0.1);
    transition: 0.5s;
}

.project-info {
    margin-top: 10px;
}

.project-title {
    font-size: 1.5rem;
    margin-bottom: 5px;
}

.project-text {
    font-size: 1rem;
}

button {
    padding: 8px 12px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}
.contact {
    height: 28vh;
    background-color: var(--primary-bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.contact-title {
    margin-top: 1rem;
    color: var(--text-color);
    font-size: 2.5rem;
}

.contact-numbers button {
    box-shadow: 0 1px 0 0 #1c1b18;
    background: linear-gradient(to bottom, #eae0c2 5%, #ccc2a6 100%);
    border-radius: 20px;
    border: 2px solid #333029;
    display: inline-block;
    cursor: pointer;
    color: var(--primary-bg-color);
    font-size: 1rem;
    font-weight: bold;
    padding: 10px 53px;
    text-decoration: none;
    text-shadow: 0 1px 0 #ffffff;
    margin: 20px;
}

.contact-numbers button:hover {
    background: linear-gradient(to bottom, #ccc2a6 5%, #eae0c2 100%);
}

.contact-social {
    height: 10vh;
    margin-right: 2rem;
    display: block;
}

.contact-social a {
    color: #6D8EA0;
    padding: 0 1.5rem;
}