@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;0,600;1,500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu {
    height: 15vh;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    background-color: #182825;
    color: #F7FFF7;
}

.menu-title {
    font-size: 2rem;
}

.menu-title span {
    color: #22AED1;

}

.menu-sections {
    display: flex;
}

.menu-section-element {
    margin: 0.5rem 1rem;
    font-size: 1.5rem;
    list-style: none;
    text-transform: capitalize;
}

.menu-section-element a {
    text-decoration: none;
    color: #F7FFF7;
}

.menu-section-element a:hover {
    text-decoration: underline;
    opacity: 0.75;
}

.about {
    height: 90vh;
    background-image: url("./assets/coding.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-container {
    height: 80%;
    width: 80%;
    background: rgba(24, 40, 37, 0.65);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #F7FFF7;
}

.about-header {
    font-size: 3rem;
    padding: 1rem;
}

.about-text {
    padding: 3rem;
    font-size: 1.2rem;
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
}
.about-container button {
    box-shadow: 0 1px 0 0 #1c1b18;
    background: linear-gradient(to bottom, #eae0c2 5%, #ccc2a6 100%);
    border-radius: 20px;
    border: 2px solid #333029;
    display: inline-block;
    cursor: pointer;
    padding: 10px 53px;

    margin: 10px;
}
.about-container button a{
    color: #182825;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    text-shadow: 0 1px 0 #ffffff;
}

.about-container button:hover {
    background: linear-gradient(to bottom, #ccc2a6 5%, #eae0c2 100%);
}
.skills {
    padding: 4rem;
    background-color: #182825;
    text-align: center;
}
.skills-container{
    display: flex;
    justify-content: space-around;
}
.skills-box {
    height: 45vh;
    width: 25vw;
    padding: 3rem;
    border: 1px solid #6D8EA0;
    border-radius: 5%;
    box-shadow: 0 7px 20px 3px #F7FFF7;
    text-align: center;
}

.skills-title {
    color: #F7FFF7;
    margin-bottom: 2rem;
    font-size: 2rem;
}
.skills h2{
    margin-bottom: 2rem;
}

.skills-element {
    font-size: 1.5rem;
    color: #F7FFF7;
}

.contact {
    height: 25vh;
    background-color: #182825;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.contact-title {
    margin-top: 1rem;
    color: #F7FFF7;
    font-size: 2.5rem;
}

.contact-numbers button {
    box-shadow: 0 1px 0 0 #1c1b18;
    background: linear-gradient(to bottom, #eae0c2 5%, #ccc2a6 100%);
    border-radius: 20px;
    border: 2px solid #333029;
    display: inline-block;
    cursor: pointer;
    color: #182825;
    font-size: 14px;
    font-weight: bold;
    padding: 10px 53px;
    text-decoration: none;
    text-shadow: 0 1px 0 #ffffff;
    margin: 20px;
}

.contact-numbers button:hover {
    background: linear-gradient(to bottom, #ccc2a6 5%, #eae0c2 100%);
}

.contact-social {
    margin-right: 2rem;
    display: block;
}

.contact-social a {
    color: #6D8EA0;
    padding: 0 1.5rem;
}